
  <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">iStory</h1>
          <p class="lead">Welcome to an interative journey</p>
        </div>
      </section>

  <div class="container">
    <div class="row">
      <div class="card">
        <% @stories.each do |story| %>
          <div class="card-body">
            <h1 class="card-title"><%= story.title %></h1>
            <p class="card-text"><%= story.intro %></p>
            <div class="btn btn-primary"><%= link_to 'Take me to the story', story_path(story) %></div>
        <% end %>
      </div>
    </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="card">
      <img class="card-img-top" src="starship.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Starship</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="wonderland.jpg" alt="wonderland">
      <div class="card-body">
        <h4 class="card-title">Wonderland</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="far_far_away.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Far far away</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
