@import 'bootstrap';

.jumbotron {
  background-color: #fff;
  padding: 1rem 0.5rem;
  margin-bottom: 0rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: #fff;
  background-clip: border-box;
  }
